:host {
    display: inline-flex;
    flex-direction: column;
    max-width: 10em;
    padding: 1em;
    gap: 1em;
    border: 2px solid #ccc;
    border-radius: .5em;
}

.weather-info {
    font-size: larger;
}