<igx-select [(ngModel)]="selectedLocationName" type="border">
    <!-- <label igxLabel>Location: </label> -->
    @for (loc of locations; track loc) {
        <igx-select-item [value]="loc.name">{{ loc.name }}</igx-select-item>
    }
    <ng-template igxSelectToggleIcon>🔻</ng-template>
</igx-select>

<div>
    @if (weather()) {
        <h3>{{ weather()!.temperature }}°C</h3>
        <p>{{ weather()!.description }}</p>
    } @else {
        <ng-content>
            No data
        </ng-content>
    }
</div>